In [27]:
import pandas as pd
import psycopg2
import matplotlib
import numpy as np
#from connect import connect_DB #import custom connection script

#connector = connect_DB() #instantiate connector class
conn = psycopg2.connect("dbname=hmdamaster user=roellk") #connect and return connection
cur = conn.cursor()
#list of HMDA years to use
#property type appears in 2004
#FIXME reload and clean 2004
#FIXME: add property type into 2004 and beyond?
hmda_tables = ['hmdalar2000', 'hmdalar2001', 'hmdalar2002', 'hmdalar2003', 'hmdalar2004', 'hmdalar2005', 'hmdalar2006',
'hmdalar2007', 'hmdalar2008', 'hmdalar2009', 'hmdalar2010', 'hmdalar2011', 'hmdalar2012', 'hmdalar2013', 'hmdalar2014']


#get county level data
#count of loans
#average and median dollar value of loans
#dollar volume of loan amount

In [29]:
#selects application information for single family homes
first = True
for table in hmda_tables:

    SQL = """
        SELECT year, state, county,
        round(avg(amount::integer),2) as loan_average,
        round(avg(income::integer),2) as income_average,
        count(concat(agency, rid)) as count_of_apps,
        sum(amount::integer) as app_volume
        FROM {table}
        WHERE loan_type = '1'
        AND loan_purpose in ('1', '3')

        AND income not like '%NA%'
        AND income not like '%na% '
        AND amount not like '%NA%'
        AND amount not like '%na%'

        GROUP BY state, county, year """

    SQL = SQL.format(table=table, type='1')
    #cur.execute(SQL)

    #data = cur.fetchall() #retrieve data from query
    df = pd.read_sql_query(SQL, conn)
    if first:
        out_file = df
    else:
        out_file = out_file.concat(df)
    print df.head()


out_file.to_csv('county_aggregates.csv')

   year state county  loan_average  income_average  count_of_apps  app_volume
0  2000    13    005         42.91           33.63            334       14332
1  2000    25    025        172.26           92.79          23620     4068697
2  2000    55    065         61.86           45.41            422       26106
3  2000    38    023         28.00           43.50              6         168
4  2000    51    037         59.77           40.45            314       18767
   year state county  loan_average  income_average  count_of_apps  app_volume
0  2001    38    049         47.77           49.31            127        6067
1  2001    47    151         53.79           35.79            964       51858
2  2001    31    111         68.30           57.33           1321       90224
3  2001    21    227         92.14           65.20           5679      523286
4  2001    37    109        102.00           58.97           5446      555513
   year state county  loan_average  income_average  count_of_apps  app_volume
0  2002    33    013        127.74           74.51          11433     1460414
1  2002    19    033         76.87           63.62           2508      192788
2  2002    26    149         89.45           60.50           3872      346348
3  2002    17    079         63.97           44.51            187       11963
4  2002    42    017        159.68           97.20          60501     9660965
   year state county  loan_average  income_average  count_of_apps  app_volume
0  2003    05    061         71.40           56.02            482       34413
1  2003    54    035         79.21           56.57           1558      123410
2  2003    50    011        110.28           63.76           4727      521275
3  2003    06    023        143.04           73.58          12902     1845561
4  2003    18    129         90.42           62.95           2350      212479
   year state county  loan_average  income_average  count_of_apps  app_volume
0  2004    55    051         96.96           74.11            431       41788
1  2004    37    033         94.80           56.38           1302      123432
2  2004    48    395         75.33           64.75            634       47760
3  2004    20    101         57.06           52.91             32        1826
4  2004    01    059         72.11           49.08           1232       88845
   year state county  loan_average  income_average  count_of_apps  app_volume
0  2005    36    031        122.70           84.71           2590      317800
1  2005    21    071         72.96           48.30           1787      130383
2  2005    72    143        146.68           73.75           1317      193180
3  2005    12    089        176.77          105.49           7539     1332675
4  2005    31    123         64.65           50.91            140        9051
   year state county  loan_average  income_average  count_of_apps  app_volume
0  2006    27    055        114.04           65.61            975      111192
1  2006    01    071         92.22           62.98           2345      216260
2  2006    27    103        132.01           80.28           1619      213731
3  2006    22    041         77.86           60.77            661       51465
4  2006    04    013        207.22          106.57         591870   122645154
   year state county  loan_average  income_average  count_of_apps  app_volume
0  2007    37    147        123.04           82.58           8927     1098355
1  2007    55    031        112.36           70.95           2563      287987
2  2007    51    515        110.76           57.28            384       42533
3  2007    20    153         69.43           63.20             30        2083
4  2007    42    095        165.82           87.72          21264     3525949
   year state county  loan_average  income_average  count_of_apps  app_volume
0  2008    40    013        101.31           73.27           4384      444124
1  2008    22    001         97.32           70.81           5468      532156
2  2008    26    011        104.30           75.53           1868      194824
3  2008    29    089         91.84           64.05           1312      120496
4  2008    54    065        148.69           80.28           3620      538240
   year state county  loan_average  income_average  count_of_apps  app_volume
0  2009    01    001        143.77           75.16           1643      236215
1  2009    01    003        205.65          130.28          10132     2083666
2  2009    01    005        135.50           75.95            495       67073
3  2009    01    007         98.51           69.38            597       58808
4  2009    01    009        117.86           66.82           1857      218874
   year state county  loan_average  income_average  count_of_apps  app_volume
0  2010    28    079         95.20           79.09            470       44746
1  2010    48    499        119.73           91.39            775       92787
2  2010    48    157        204.34          132.25          26713     5458526
3  2010    55    001        133.09           98.64           1050      139747
4  2010    12    129        144.92           83.61            641       92892
   year state county  loan_average  income_average  count_of_apps  app_volume
0  2011    08    095        134.38          111.82             78       10482
1  2011    53    039        188.00           94.87            624      117313
2  2011    38    069         79.93           62.44             54        4316
3  2011    40    023         86.27           68.42            153       13200
4  2011    13    087        107.99           67.14            428       46218
   year state county  loan_average  income_average  count_of_apps  app_volume
0  2012    40    107          2.99           60.78            299         893
1  2012    51    141          2.94           70.86            372        1094
2  2012    53    043          2.93           94.63            361        1058
3  2012    56    021          2.95           96.26           4347       12834
4  2012    13    179          2.97           88.43            767        2279
   year state county  loan_average  income_average  count_of_apps  app_volume
0  2013    48    379        116.59           86.00            201       23434
1  2013    40    029        112.45           64.60             58        6522
2  2013    01    099         97.42           67.42            357       34778
3  2013    20    151        109.06          104.67            129       14069
4  2013    37    081        163.41           98.60          17299     2826898
   year state county  loan_average  income_average  count_of_apps  app_volume
0  2014    01    059         73.94           56.77            453       33494
1  2014    20    143         86.30           61.61             98        8457
2  2014    48    105         88.22           89.51             45        3970
3  2014    29    037        157.17           91.65           2185      343410
4  2014    38    031        125.98           84.33             55        6929

In [31]:
county_agg_df = out_file.copy()

In [ ]:
#selects originated loan information for single family homes
first = True
for table in hmda_tables[4:]:
    SQL = """
WITH rates as (
SELECT year, state, county,
    count(rate_spread) as has_rs,
    avg(rate_spread::numeric) as avg_rate_spread
    
    FROM {table}
    
    WHERE loan_type = '1'
        AND loan_purpose in ('1', '3')
        AND property_type = '{type}'
        AND action = '1'
        AND lien = '1'
        AND rate_spread != 'NA   '
    GROUP BY year, state, county),

rates2 as (
    SELECT year, state, county,
    count(rate_spread) as no_rs
    
    FROM {table}
    
    WHERE loan_type = '1'
        AND loan_purpose in ('1', '3')
        AND property_type = '{type}'
        AND action = '1'
        AND lien = '1'
        AND rate_spread = 'NA   '
GROUP BY year, state, county),

county_agg_orig AS (
    SELECT year, state, county,
        round(avg(amount::integer),2) as loan_average,
        round(avg(income::integer),2) as income_average,
        count(concat(agency, rid)) as count_orig,
        sum(amount::integer) as orig_value

    FROM {table}
    
    WHERE loan_type = '1'
        AND loan_purpose in ('1', '3')
        AND property_type = '{type}'
        AND action = '1'
        AND lien = '1'
        AND income not like '%NA%'
        AND income not like '%na% '
        AND amount not like '%NA%'
        AND amount not like '%na%'
        GROUP BY state, county, year ),

county_agg_apps AS (SELECT year, state, county,
        round(avg(amount::integer),2) as loan_average,
        round(avg(income::integer),2) as income_average,
        count(concat(agency, rid)) as count_apps,
        sum(amount::integer) as app_value
        FROM {table}
        WHERE loan_type = '1'
        AND loan_purpose in ('1', '3')
        AND property_type = '{type}'
        AND action != '1'
        AND lien = '1'
        AND income not like '%NA%'
        AND income not like '%na% '
        AND amount not like '%NA%'
        AND amount not like '%na%'
        GROUP BY state, county, year )
        
SELECT rates.year, rates.state, rates.county, rates.has_rs, rates2.no_rs, 
round(rates.avg_rate_spread, 2) as avg_rs, 
round(((rates.has_rs::numeric / (rates2.no_rs::numeric + rates.has_rs::numeric))*100),2) AS rs_ratio,
county_agg_orig.loan_average, 
county_agg_orig.income_average, 
county_agg_orig.count_orig, 
county_agg_orig.orig_value,
round(((county_agg_orig.loan_average::numeric/.8) / county_agg_orig.income_average::numeric),2) AS income_multiple,
county_agg_apps.loan_average AS app_loan_avg,
county_agg_apps.income_average AS app_income_avg,
county_agg_apps.count_apps AS count_apps,
county_agg_apps.app_value,
ROUND(((county_agg_orig.count_orig::numeric / (county_agg_orig.count_orig::numeric + county_agg_apps.count_apps::numeric))*100),2) AS orig_rate


FROM rates
JOIN rates2
ON concat(rates.state, rates.county) = concat(rates2.state, rates2.county)
JOIN county_agg_orig
ON concat(rates.state, rates.county) = concat(county_agg_orig.state, county_agg_orig.county)
JOIN county_agg_apps
ON concat(rates.state, rates.county) = concat(county_agg_apps.state, county_agg_apps.county);
"""

    SQL = SQL.format(table=table, type='1')
    df = pd.read_sql_query(SQL, conn)
    if first:
        out_file = df
    else:
        out_file = out_file.concat(df)
    print df.head()
out_file.to_csv('county_aggregates_post_2004.csv')
#export as single csv for all years
#create table to hold data
#insert data

In [ ]:
out_file.tail()