In [59]:
import pandas as pd
import psycopg2
import matplotlib
import numpy as np
#from connect import connect_DB #import custom connection script

#connector = connect_DB() #instantiate connector class
conn = psycopg2.connect("dbname=hmdamaster user=roellk") #connect and return connection
cur = conn.cursor()
#list of HMDA years to use
#property type appears in 2004
#FIXME reload and clean 2004
#FIXME: add property type into 2004 and beyond?
hmda_tables = ['hmdalar2000', 'hmdalar2001', 'hmdalar2002', 'hmdalar2003', 'hmdalar2004', 'hmdalar2005', 'hmdalar2006',
'hmdalar2007', 'hmdalar2008', 'hmdalar2009', 'hmdalar2010', 'hmdalar2011', 'hmdalar2012', 'hmdalar2013', 'hmdalar2014']


#get county level data
#count of loans
#average and median dollar value of loans
#dollar volume of loan amount

In [60]:
#selects application information for single family homes
#FIXME add section for origination only
first = True
for table in hmda_tables:

    SQL = """
  WITH 
  county_apps AS (
  SELECT year, state, county,
    ROUND(avg(amount::INTEGER),2) AS loan_average_app,
        ROUND(avg(income::INTEGER),2) AS income_average_app,
        COUNT(concat(agency, rid)) AS count_app,
        SUM(amount::INTEGER) AS value_app,
        --ROUND(((amount::NUMERIC / 0.80) / income::NUMERIC),2) AS income_mult_app,
    CONCAT(state, county) AS fips

        FROM hmdalar2000

        WHERE loan_type = '1'
        AND loan_purpose in ('1', '3')
        AND income NOT LIKE '%NA%'
        AND income NOT LIKE '%na% '
        AND amount NOT LIKE '%NA%'
        AND amount NOT LIKE '%na%'

        GROUP BY state, county, year, amount, income),

 county_orig AS (
 SELECT year, state, county,
    ROUND(avg(amount::INTEGER),2) AS loan_average_orig,
        ROUND(avg(income::INTEGER),2) AS income_average_orig,
        COUNT(concat(agency, rid)) AS count_orig,
        SUM(amount::INTEGER) AS value_orig,
        --ROUND(((amount::NUMERIC / 0.80) / income::NUMERIC),2) AS income_mult_orig,
    CONCAT(state, county) AS fips

        FROM hmdalar2000

        WHERE loan_type = '1'
        AND action = '1'
        AND loan_purpose in ('1', '3')
        AND income NOT LIKE '%NA%'
        AND income NOT LIKE '%na% '
        AND amount NOT LIKE '%NA%'
        AND amount NOT LIKE '%na%'
        
        GROUP BY state, county, year, amount, income)

SELECT 
county_apps.state,
county_apps.county,
county_apps.fips,
county_apps.loan_average_app,
county_apps.income_average_app,
county_apps.count_app,
county_apps.value_app,
--county_apps.income_mult_app,
county_orig.loan_average_orig,
county_orig.income_average_orig,
county_orig.count_orig,
county_orig.value_orig,
--county_orig.income_mult_orig,
(county_orig.count_orig::NUMERIC / (county_apps.count_app::NUMERIC + county_orig.count_orig::NUMERIC)) AS orig_rate

FROM county_apps
JOIN county_orig
ON county_orig.fips = county_apps.fips """

    SQL = SQL.format(table=table, type='1')
    #cur.execute(SQL)

    #data = cur.fetchall() #retrieve data from query
    df = pd.read_sql_query(SQL, conn)
    if first:
        out_file = df
        first = False
    else:
        out_file = pd.concat([out_file, df])
    print df.head()


out_file.to_csv('county_aggregates.csv')

IndentationError: expected an indented block (<ipython-input-60-10099e70c0d5>, line 6)

In [47]:
county_agg_df = out_file.copy()

In [49]:
county_agg_df.tail()

,year,state,county,loan_average_app,income_average_app,count_app,value_app
3263,2014,35,045,141.76,86.14,2013,285365
3264,2014,18,141,124.91,86.98,4462,557346
3265,2014,40,001,92.31,61.94,194,17909
3266,2014,29,021,104.07,77.21,1577,164124
3267,2014,48,491,194.24,115.24,18701,3632536

In [52]:
#selects originated loan information for single family homes
first = True
for table in hmda_tables[4:]:
    SQL = """
WITH rates AS (
    SELECT year, state, county,
    CONCAT(state, county) AS fips,
    COUNT(rate_spread) AS has_rs,
    AVG(rate_spread::NUMERIC) AS avg_rate_spread

    FROM {table}
    
    WHERE loan_type = '1'
        AND loan_purpose IN ('1', '3')
        AND property_type = '{type}'
        AND action = '1'
        AND lien = '1'
        AND rate_spread != 'NA   '
        AND rate_spread != '     '
        
    GROUP BY year, state, county),

rates2 as (
    SELECT year, state, county,
    CONCAT(state, county) AS fips,
    COUNT(rate_spread) AS no_rs
    
    FROM {table}
    
    WHERE loan_type = '1'
        AND loan_purpose in ('1', '3')
        AND property_type = '{type}'
        AND action = '1'
        AND lien = '1'
        AND rate_spread = 'NA   '
        
GROUP BY year, state, county),

county_agg_orig AS (
    SELECT year, state, county,
    CONCAT(state, county) AS fips,
        ROUND(avg(amount::INTEGER),2) AS loan_average,
        ROUND(avg(income::INTEGER),2) AS income_average,
        COUNT(concat(agency, rid)) AS count_orig,
        SUM(amount::INTEGER) AS value_orig,
        SUM(income::INTEGER) AS total_income_orig

    FROM {table}
    
    WHERE loan_type = '1'
        AND loan_purpose IN ('1', '3')
        AND property_type = '{type}'
        AND action = '1'
        AND lien = '1'
        AND rate_spread != '     '
        AND income NOT LIKE '%NA%'
        AND income NOT LIKE '%na% '
        AND income != '    '
        AND amount != '     '
        AND amount NOT LIKE '%NA%'
        AND amount NOT LIKE '%na%'
        
        GROUP BY state, county, year ),

county_agg_apps AS (
SELECT year, state, county,
        CONCAT(state, county) AS fips,
        ROUND(AVG(amount::INTEGER),2) AS loan_average,
        ROUND(AVG(income::INTEGER),2) AS income_average,
        COUNT(CONCAT(agency, rid)) AS count_app,
        SUM(amount::INTEGER) AS value_app,
        SUM(income::INTEGER) AS total_income_app
        
        FROM {table}
        
        WHERE loan_type = '1'
        AND loan_purpose in ('1', '3')
        AND property_type = '{type}'
        AND action != '1'
        AND lien = '1'
        AND rate_spread != '     '
        AND income not like '%NA%'
        AND income not like '%na% '
        AND income != '    '
        AND amount != '     '
        AND amount not like '%NA%'
        AND amount not like '%na%'
        
        GROUP BY state, county, year )
        
SELECT rates.year, rates.state, rates.county, rates.fips, rates.has_rs, rates2.no_rs, 
ROUND(rates.avg_rate_spread, 2) AS avg_rs, 
ROUND(((rates.has_rs::NUMERIC / (rates2.no_rs::NUMERIC + rates.has_rs::NUMERIC))*100),2) AS rs_ratio,
county_agg_orig.loan_average, 
county_agg_orig.income_average, 
county_agg_orig.count_orig, 
county_agg_orig.value_orig,
ROUND((value_orig::NUMERIC / total_income_orig::NUMERIC),2) AS total_mult_orig,
ROUND(((value_app::NUMERIC / 0.80) / total_income_app::NUMERIC),2) AS total_mult_app,
ROUND(((county_agg_apps.loan_average::NUMERIC / 0.80) / county_agg_apps.income_average::NUMERIC),2) AS income_multiple_app,
ROUND(((county_agg_orig.loan_average::NUMERIC /0.80) / county_agg_orig.income_average::NUMERIC),2) AS income_multiple_orig,

county_agg_apps.loan_average AS app_loan_avg,
county_agg_apps.income_average AS app_income_avg,
county_agg_apps.count_app AS count_apps,
county_agg_apps.value_app,
ROUND(((county_agg_orig.count_orig::NUMERIC / (county_agg_orig.count_orig::NUMERIC + county_agg_apps.count_app::NUMERIC))*100),2) AS orig_rate


FROM rates
JOIN rates2
ON concat(rates.state, rates.county) = concat(rates2.state, rates2.county)
JOIN county_agg_orig
ON concat(rates.state, rates.county) = concat(county_agg_orig.state, county_agg_orig.county)
JOIN county_agg_apps
ON concat(rates.state, rates.county) = concat(county_agg_apps.state, county_agg_apps.county);
"""

    SQL = SQL.format(table=table, type='1')
    df = pd.read_sql_query(SQL, conn)
    if first:
        out_file = df
        first = False
    else:
        out_file = pd.concat([out_file,df])
    print df.head()
out_file.to_csv('county_aggregates_post_2004.csv')
#export as single csv for all years
#create table to hold data
#insert data

   year state county  has_rs  no_rs  avg_rs  rs_ratio  loan_average_orig  \
0  2004    01    001     192   1152    4.53     14.29             117.96
1  2004    01    003     745   7069    4.27      9.53             182.95
2  2004    01    005     119    222    4.66     34.90              97.44
3  2004    01    007     101    234    4.49     30.15              89.37
4  2004    01    009     311   1030    4.42     23.19             110.99

   income_average_orig  count_orig  value_orig  income_multiple  app_loan_avg  \
0                65.80        1292      152407             2.24        102.70
1               115.96        7400     1353852             1.97        155.36
2                67.50         314       30596             1.80        102.91
3                58.58         319       28510             1.91         95.61
4                60.90        1298      144062             2.28        101.56

   app_income_avg  count_app  value_app  orig_rate
0           62.25       1280     131458      50.23
1           92.21       5896     915974      55.66
2           65.20        505      51972      38.34
3           57.15        454      43409      41.27
4           63.30       1450     147255      47.23
   year state county  has_rs  no_rs  avg_rs  rs_ratio  loan_average_orig  \
0  2005    01    001     297   1111    4.67     21.09             127.34
1  2005    01    003    1319   6730    4.79     16.39             211.82
2  2005    01    005     137    199    4.83     40.77             113.18
3  2005    01    007     114    214    4.88     34.76              97.55
4  2005    01    009     420    954    4.79     30.57             114.22

   income_average_orig  count_orig  value_orig  income_multiple  app_loan_avg  \
0                71.02        1368      174198             2.24        115.21
1               131.36        7562     1601775             2.02        188.60
2                91.97         310       35086             1.54         95.51
3                60.02         316       30826             2.03        103.47
4                60.39        1331      152032             2.36        110.85

   app_income_avg  count_app  value_app  orig_rate
0           68.73       1226     141252      52.74
1          106.06       6149    1159683      55.15
2           64.91        403      38489      43.48
3           55.53        403      41699      43.95
4           63.44       1353     149985      49.59
   year state county  has_rs  no_rs  avg_rs  rs_ratio  loan_average_orig  \
0  2006    01    001     257    980    4.87     20.78             141.14
1  2006    01    003    1576   6372    4.80     19.83             233.29
2  2006    01    005     144    179    4.83     44.58             111.91
3  2006    01    007     118    190    5.38     38.31             103.70
4  2006    01    009     458    912    4.95     33.43             133.91

   income_average_orig  count_orig  value_orig  income_multiple  app_loan_avg  \
0                74.73        1199      169227             2.36        126.83
1               158.15        7454     1738917             1.84        212.54
2                71.95         307       34357             1.94        111.33
3                61.84         304       31524             2.10        112.58
4                68.07        1340      179444             2.46        118.50

   app_income_avg  count_app  value_app  orig_rate
0           66.33        967     122646      55.36
1          133.21       5530    1175373      57.41
2           62.29        380      42305      44.69
3           58.96        336      37828      47.50
4           67.37       1225     145164      52.24
   year state county  has_rs  no_rs  avg_rs  rs_ratio  loan_average_orig  \
0  2007    01    001     206    975    4.61     17.44             144.97
1  2007    01    003     952   5807    4.50     14.08             239.28
2  2007    01    005      97    193    4.80     33.45             118.65
3  2007    01    007      80    198    5.26     28.78             120.95
4  2007    01    009     304    919    4.71     24.86             124.38

   income_average_orig  count_orig  value_orig  income_multiple  app_loan_avg  \
0                76.84        1151      166860             2.36        132.92
1               167.19        6434     1539527             1.79        233.88
2                77.56         272       32274             1.91        113.79
3                67.21         277       33504             2.25        111.06
4                65.33        1202      149501             2.38        125.44

   app_income_avg  count_app  value_app  orig_rate
0           67.97        928     123350      55.36
1          155.56       5142    1202609      55.58
2           72.50        347      39486      43.94
3           60.20        331      36762      45.56
4           64.62        999     125319      54.61
   year state county  has_rs  no_rs  avg_rs  rs_ratio  loan_average_orig  \
0  2008    01    001     448   2724    4.83     14.12             142.92
1  2008    01    003    1440  15496    4.23      8.50             219.94
2  2008    01    005     276    636    5.29     30.26             126.84
3  2008    01    007     228    736    5.36     23.65             116.54
4  2008    01    009     632   2596    4.76     19.58             134.30

   income_average_orig  count_orig  value_orig  income_multiple  app_loan_avg  \
0                82.98        3020      431624             2.15        155.29
1               145.66       16068     3534068             1.89        213.33
2                80.63         872      110604             1.97        129.28
3                65.85         940      109552             2.21        129.20
4                78.50        3140      421708             2.14        133.83

   app_income_avg  count_app  value_app  orig_rate
0           77.67       2660     413060      53.17
1          127.32      14652    3125696      52.30
2           69.36        768      99288      53.17
3           75.58        792     102324      54.27
4           69.77       2728     365088      53.51
   year state county  has_rs  no_rs  avg_rs  rs_ratio  loan_average_orig  \
0  2009    01    001      35    706    4.51      4.72             152.68
1  2009    01    003     144   4592    4.38      3.04             209.60
2  2009    01    005      31    171    5.14     15.35             149.08
3  2009    01    007      56    141    5.15     28.43             110.20
4  2009    01    009     108    604    4.55     15.17             131.37

   income_average_orig  count_orig  value_orig  income_multiple  app_loan_avg  \
0                78.64         702      107181             2.43        160.86
1               138.15        4546      952828             1.90        214.21
2                89.63         193       28772             2.08        151.63
3                94.29         191       21049             1.46        122.41
4                75.13         684       89857             2.19        138.70

   app_income_avg  count_app  value_app  orig_rate
0           77.13        477      76730      59.54
1          124.32       3473     743963      56.69
2           69.92        139      21077      58.13
3           58.97        193      23625      49.74
4           67.20        569      78919      54.59
   year state county  has_rs  no_rs  avg_rs  rs_ratio  loan_average_orig  \
0  2010    01    001      12    714    3.15      1.65             152.81
1  2010    01    003      79   3630    2.68      2.13             193.90
2  2010    01    005       5    173    3.19      2.81             140.73
3  2010    01    007      19    146    3.83     11.52             118.63
4  2010    01    009      93    578    3.46     13.86             138.24

   income_average_orig  count_orig  value_orig  income_multiple  app_loan_avg  \
0                84.98         689      105286             2.25        152.38
1               140.32        3511      680781             1.73        204.21
2                81.81         176       24768             2.15        141.45
3                72.97         160       18980             2.03        113.92
4                75.54         650       89853             2.29        140.97

   app_income_avg  count_app  value_app  orig_rate
0           82.50        382      58211      64.33
1          127.81       2862     584457      55.09
2           78.90        124      17540      58.67
3           63.04        106      12076      60.15
4           71.17        484      68229      57.32
   year state county  has_rs  no_rs  avg_rs  rs_ratio  loan_average_orig  \
0  2011    01    001      19    602    2.05      3.06             145.11
1  2011    01    003     110   3491    2.47      3.05             199.49
2  2011    01    005      12    140    2.73      7.89             115.41
3  2011    01    007      24    108    3.21     18.18             120.05
4  2011    01    009      67    485    3.55     12.14             123.32

   income_average_orig  count_orig  value_orig  income_multiple  app_loan_avg  \
0                88.94         592       85904             2.04        163.39
1               158.45        3332      664704             1.57        209.26
2                88.80         140       16157             1.62        163.54
3                71.12         125       15006             2.11        134.68
4                73.50         520       64127             2.10        138.78

   app_income_avg  count_app  value_app  orig_rate
0           79.81        369      60291      61.60
1          127.11       2610     546159      56.08
2           73.90        127      20770      52.43
3           65.89         91      12256      57.87
4           74.68        404      56068      56.28
   year state county  has_rs  no_rs  avg_rs  rs_ratio  loan_average_orig  \
0  2012    01    001      18    851    2.33      2.07               2.92
1  2012    01    003     163   4816    2.08      3.27               2.82
2  2012    01    005      11    170    3.07      6.08               2.92
3  2012    01    007      16    143    3.25     10.06               2.96
4  2012    01    009     109    597    3.24     15.44               2.94

   income_average_orig  count_orig  value_orig  income_multiple  app_loan_avg  \
0                85.24         836        2441             0.04          2.95
1               139.63        4805       13535             0.03          2.91
2                88.72         179         523             0.04          2.94
3                72.08         156         461             0.05          2.90
4                75.10         688        2022             0.05          2.91

   app_income_avg  count_app  value_app  orig_rate
0           84.22        481       1418      63.48
1          131.48       3313       9628      59.19
2           79.87        106        312      62.81
3           65.95         99        287      61.18
4           78.37        438       1276      61.10
   year state county  has_rs  no_rs  avg_rs  rs_ratio  loan_average_orig  \
0  2013    01    001      27    826    2.58      3.17             147.97
1  2013    01    003     166   5454    2.00      2.95             195.22
2  2013    01    005       7    181    3.54      3.72             118.90
3  2013    01    007      20    156    2.56     11.36             129.64
4  2013    01    009     109    627    2.61     14.81             130.64

   income_average_orig  count_orig  value_orig  income_multiple  app_loan_avg  \
0                85.84         836      123699             2.15        139.03
1               140.66        5421     1058284             1.73        196.44
2                77.94         185       21996             1.91        121.91
3                79.82         175       22687             2.03        122.54
4                80.14         718       93801             2.04        124.80

   app_income_avg  count_app  value_app  orig_rate
0           80.25        520      72293      61.65
1          126.76       3523     692053      60.61
2           73.47        131      15970      58.54
3           63.84        119      14582      59.52
4           73.43        542      67639      56.98
   year state county  has_rs  no_rs  avg_rs  rs_ratio  loan_average_orig  \
0  2014    01    001      23    580    2.38      3.81             144.06
1  2014    01    003     109   3542    2.02      2.99             206.30
2  2014    01    005       9    107    2.28      7.76             125.60
3  2014    01    007      19     87    2.77     17.92             112.06
4  2014    01    009     101    435    2.31     18.84             124.40

   income_average_orig  count_orig  value_orig  income_multiple  app_loan_avg  \
0                78.25         594       85570             2.30        129.84
1               141.71        3481      718127             1.82        202.10
2                90.60         110       13816             1.73        114.18
3                72.57         106       11878             1.93        100.98
4                78.87         524       65188             1.97        120.84

   app_income_avg  count_app  value_app  orig_rate
0           70.65        330      42846      64.29
1          120.95       2039     412074      63.06
2           59.72         85       9705      56.41
3           63.13         82       8280      56.38
4           62.88        367      44348      58.81

In [57]:

out_file['fips'] = out_file.state + out_file.county
out_file.head()

,year,state,county,has_rs,no_rs,avg_rs,rs_ratio,loan_average_orig,income_average_orig,count_orig,value_orig,income_multiple,app_loan_avg,app_income_avg,count_app,value_app,orig_rate,fips
0,2004,01,001,192,1152,4.53,14.29,117.96,65.80,1292,152407,2.24,102.70,62.25,1280,131458,50.23,01001
1,2004,01,003,745,7069,4.27,9.53,182.95,115.96,7400,1353852,1.97,155.36,92.21,5896,915974,55.66,01003
2,2004,01,005,119,222,4.66,34.90,97.44,67.50,314,30596,1.80,102.91,65.20,505,51972,38.34,01005
3,2004,01,007,101,234,4.49,30.15,89.37,58.58,319,28510,1.91,95.61,57.15,454,43409,41.27,01007
4,2004,01,009,311,1030,4.42,23.19,110.99,60.90,1298,144062,2.28,101.56,63.30,1450,147255,47.23,01009

In [58]:
out_file.groupby('fips').rs_ratio.plot()

/Users/roellk/homebrew/lib/python2.7/site-packages/matplotlib/axes/_base.py:2787: UserWarning: Attempting to set identical left==right results
in singular transformations; automatically expanding.
left=0.0, right=0.0
  'left=%s, right=%s') % (left, right))

fips
01001    Axes(0.125,0.1;0.775x0.8)
01003    Axes(0.125,0.1;0.775x0.8)
01005    Axes(0.125,0.1;0.775x0.8)
01007    Axes(0.125,0.1;0.775x0.8)
01009    Axes(0.125,0.1;0.775x0.8)
01011    Axes(0.125,0.1;0.775x0.8)
01013    Axes(0.125,0.1;0.775x0.8)
01015    Axes(0.125,0.1;0.775x0.8)
01017    Axes(0.125,0.1;0.775x0.8)
01019    Axes(0.125,0.1;0.775x0.8)
01021    Axes(0.125,0.1;0.775x0.8)
01023    Axes(0.125,0.1;0.775x0.8)
01025    Axes(0.125,0.1;0.775x0.8)
01027    Axes(0.125,0.1;0.775x0.8)
01029    Axes(0.125,0.1;0.775x0.8)
01031    Axes(0.125,0.1;0.775x0.8)
01033    Axes(0.125,0.1;0.775x0.8)
01035    Axes(0.125,0.1;0.775x0.8)
01037    Axes(0.125,0.1;0.775x0.8)
01039    Axes(0.125,0.1;0.775x0.8)
01041    Axes(0.125,0.1;0.775x0.8)
01043    Axes(0.125,0.1;0.775x0.8)
01045    Axes(0.125,0.1;0.775x0.8)
01047    Axes(0.125,0.1;0.775x0.8)
01049    Axes(0.125,0.1;0.775x0.8)
01051    Axes(0.125,0.1;0.775x0.8)
01053    Axes(0.125,0.1;0.775x0.8)
01055    Axes(0.125,0.1;0.775x0.8)
01057    Axes(0.125,0.1;0.775x0.8)
01059    Axes(0.125,0.1;0.775x0.8)
                   ...
72099    Axes(0.125,0.1;0.775x0.8)
72101    Axes(0.125,0.1;0.775x0.8)
72103    Axes(0.125,0.1;0.775x0.8)
72105    Axes(0.125,0.1;0.775x0.8)
72107    Axes(0.125,0.1;0.775x0.8)
72109    Axes(0.125,0.1;0.775x0.8)
72111    Axes(0.125,0.1;0.775x0.8)
72113    Axes(0.125,0.1;0.775x0.8)
72115    Axes(0.125,0.1;0.775x0.8)
72117    Axes(0.125,0.1;0.775x0.8)
72119    Axes(0.125,0.1;0.775x0.8)
72121    Axes(0.125,0.1;0.775x0.8)
72123    Axes(0.125,0.1;0.775x0.8)
72125    Axes(0.125,0.1;0.775x0.8)
72127    Axes(0.125,0.1;0.775x0.8)
72129    Axes(0.125,0.1;0.775x0.8)
72131    Axes(0.125,0.1;0.775x0.8)
72133    Axes(0.125,0.1;0.775x0.8)
72135    Axes(0.125,0.1;0.775x0.8)
72137    Axes(0.125,0.1;0.775x0.8)
72139    Axes(0.125,0.1;0.775x0.8)
72141    Axes(0.125,0.1;0.775x0.8)
72143    Axes(0.125,0.1;0.775x0.8)
72145    Axes(0.125,0.1;0.775x0.8)
72147    Axes(0.125,0.1;0.775x0.8)
72149    Axes(0.125,0.1;0.775x0.8)
72151    Axes(0.125,0.1;0.775x0.8)
72153    Axes(0.125,0.1;0.775x0.8)
72NA     Axes(0.125,0.1;0.775x0.8)
NANA     Axes(0.125,0.1;0.775x0.8)
Name: rs_ratio, dtype: object