In [25]:
from bokeh.plotting import figure, output_file, show
import json
import numpy as np
import os
import pandas as pd

In [43]:
#load tract to CBSA file to get valid counties
cbsa_df = pd.read_csv('tract_to_CBSA_2010.csv', sep='|')
cbsa_df.county = cbsa_df.county.map(lambda x: str(x).zfill(5)) #left pad with 0's to make valid FIPS codes
fips_list = list(set(cbsa_df.county.ravel())) #remove duplicates

test_df = pd.read_csv('data/holding/applications/hmdalar2000_applications.csv')
test_df.head()

,year,state,county,fips,loan_average_app,income_average_app,count_app,value_app,native_loan_average_app,native_income_average_app,...,not_provided_loan_average_app,not_provided_income_average_app,not_provided_count_app,not_provided_value_app,no_co_app_loan_average_app,no_co_app_income_average_app,no_co_app_count_app,no_co_app_value_app,graaaar,test_col
0,2000.0,19,7,19007,48.21,39.85,186.0,8967.0,NaN,NaN,...,65.33,39.67,3.0,196.0,45.67,58.83,6.0,274.0,7413.0,7413.0
1,2000.0,18,101,18101,56.74,39.67,219.0,12427.0,NaN,NaN,...,61.33,31.33,3.0,184.0,NaN,NaN,NaN,NaN,8687.0,8687.0
2,2000.0,30,55,30055,62.40,52.40,5.0,312.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,262.0,262.0
3,2000.0,18,143,18143,54.59,37.58,1103.0,60213.0,97.00,39.5,...,46.17,48.50,6.0,277.0,51.38,37.13,8.0,411.0,41455.0,41455.0
4,2000.0,47,9,47009,62.15,42.29,3702.0,230094.0,34.83,30.5,...,68.46,44.54,26.0,1780.0,103.14,91.10,21.0,2166.0,156564.0,156564.0

In [42]:
new_df = test_df.set_index(fips)

KeyError: '06099'

In [27]:
for fips in list(fips_list):
    state = fips[:2]
    path = "data/"+state+"/"+fips+"/"
    county_df = pd.read_csv(path+"data.csv")
    if county_df.empty:
        print("empty county df {county}".format(county=fips))

empty county df 06021
empty county df 06027
empty county df 02100
empty county df 01081
empty county df 06029
empty county df 01085
empty county df 06113
empty county df 01003
empty county df 06115
empty county df 06025
empty county df 01087
empty county df 01121
empty county df 01125
empty county df 06111
empty county df 01123
empty county df 02105
empty county df 06023

In [28]:
for fips in test_df.fips:
    if fips not in fips_list:
        print(fips)

5117
8083
0
8071
44033
6595
NA025
1077
5035
5905
5025
2016
1109
8121
00NA
1031
6025
6035
2290
19NA
13156
8045
6117
13NA
6093
2122
9007
9017
5105
8095
8123
4011
62620
9013
8039
9005
36133
09NA
1127
8063
6105
10029
4021
7797
55NA
2020
5093
8051
6089
5145
8113
6069
1103
56NA
1055
6021
8087
5011
6006
9015
10NA
1119
2261
8085
5139
6011
48
8091
5021
5069
20NA
34047
16NA
12827
8101
6201
5089
51NA
1049
6075
6059
8001
5033
53NA
6057
6043
2100
8053
45177
1111
1023
5047
8019
4025
8003
12NA
5135
1131
6047
65652
1061
1009
20208
1125
5043
5057
12000
6033
5059
5075
1107
6051
1079
48NA
6039
6063
1129
21NA
5123
8105
5095
1097
2270
17172
46NA
2011
6095
5063
71716
11067
5039
2070
9009
5051
8093
30NA
2201
40NA
1037
5071
6045
1015
5083
41NA
1027
31NA
4001
8117
10086
1029
54NA
531
8025
38NA
4003
1073
5121
1115
47NA
8035
4019
1067
6198
35123
71359
6083
5045
6071
2220
34091
5053
1013
5001
8033
37NA
2050
2240
1007
1017
5003
34101
8047
5019
5133
N5079
6019
72NA
6003
11195
51560
8075
8059
6001
5137
8043
01NA
8057
1005
6053
24095
50NA
5113
1041
1196
11NA
6101
13520
1099
2060
28950
6085
6997
5087
12796
8011
6091
5091
6087
49NA
5085
9597
8089
1065
5101
5143
5795
6113
8069
2170
8021
1081
02NA
8037
8015
NA
8027
29NA
1117
8029
2282
17310
5031
37595
1025
5109
8073
8115
1035
5077
2110
4023
8067
4009
6077
26NA
6109
6031
6
2013
18NA
9003
8107
26262
36NA
8079
9001
1105
8097
2232
5127
1093
10108
48724
27NA
63634
2068
34061
5103
26014
5055
8041
42155
2130
8099
5119
1011
NA119
35111
1089
13004
8065
1069
50072
6103
6055
4012
1021
8081
8013
5149
1033
5049
8007
8017
12177
1047
10101
6061
5023
6009
5111
5009
6111
32359
5061
6023
5131
45NA
8000
34119
6052
28NA
6049
1075
1059
1057
1043
08NA
5141
8005
5125
5079
2164
5107
41101
16501
5097
1095
41091
1123
5129
2150
15152
15NA
1039
2119
41412
1063
2090
6097
22NA
6107
1051
6079
5029
9011
1083
5015
5027
1071
4013
5037
5067
8077
5115
2188
51203
8109
1121
5073
8031
4007
4017
6073
6115
33NA
24NA
44NA
6067
6037
4005
1045
04NA
6015
6027
2612
26126
42NA
6029
NA013
8049
4015
120 0
4027
1001
5013
06NA
6005
1053
8111
25NA
8023
1133
1019
32NA
2185
12250
1003
6000
5007
5017
6007
6017
23NA
8061
8009
8125
5005
2180
6013
05NA
8930
NANA
5099
6064
6065
35NA
1113
5041
8103
8055
6081
1087
34NA
51780
26044
64644
8119
17NA
42042
1085
5147
39NA
1091
5081
6041
2280
1101
5065
6099
00000
06595
05905
06117
09017
07797
06006
48
06201
02011
02201
00531
06198
01196
06997
09597
05795
06
02232
08000
06052
02119
 2612
06000
08930
06064
02280

In [29]:
test_df.to_csv('test.csv', float_format='%.f')

In [30]:
test2_df = pd.read_csv('test.csv')

In [32]:
print(test_df.fips[test_df.fips=='19007'])

0    19007
Name: fips, dtype: object