In [19]:
#prototype code to clean pandas dataframes from CSVs and load county aggregate tables to postgres
import os
import pandas as pd
import psycopg2

In [23]:

#application data

#load CSV from path
path = "data/holding/applications/"
initial_df = pd.read_csv(path+'county_apps_2000.csv')

#remove duplicate fips columns
#for n in range(1,9):
#    drop_col = "fips."+str(n)
#    initial_df.drop(drop_col, inplace=True, axis = 1)

In [24]:
initial_df.head(20)

,year,state,county,fips,loan_average_app,income_average_app,count_app,value_app,native_loan_average_app,native_income_average_app,...,not_applicable_count_app,not_applicable_value_app,not_provided_loan_average_app,not_provided_income_average_app,not_provided_count_app,not_provided_value_app,no_co_app_loan_average_app,no_co_app_income_average_app,no_co_app_count_app,no_co_app_value_app
0,2000,19,007,19007,46.87,42.40,326,15278,18.00,21.00,...,113.0,5104.0,51.75,34.50,4.0,207.0,45.67,58.83,6.0,274.0
1,2000,18,143,18143,55.13,40.61,1844,101664,60.75,29.33,...,533.0,29455.0,53.38,46.63,8.0,427.0,51.38,37.13,8.0,411.0
2,2000,47,009,47009,70.44,48.62,6342,446743,47.95,32.71,...,1484.0,102532.0,81.00,51.95,37.0,2997.0,102.50,90.93,28.0,2870.0
3,2000,48,329,48329,63.51,61.94,3286,208703,38.17,44.50,...,719.0,38108.0,72.48,64.35,23.0,1667.0,81.86,396.29,7.0,573.0
4,2000,13,013,13013,81.20,54.66,2832,229948,74.53,48.13,...,800.0,52534.0,117.78,63.72,18.0,2120.0,93.79,58.26,19.0,1782.0
5,2000,27,167,27167,47.96,43.47,172,8249,31.00,15.00,...,47.0,2023.0,39.50,82.50,2.0,79.0,53.50,37.50,2.0,107.0
6,2000,47,061,47061,41.98,33.15,771,32366,NaN,NaN,...,136.0,6269.0,30.50,17.67,6.0,183.0,NaN,NaN,NaN,NaN
7,2000,12,067,12067,48.83,42.40,169,8253,26.00,36.00,...,56.0,2187.0,66.00,43.00,1.0,66.0,NaN,NaN,NaN,NaN
8,2000,46,119,46119,76.38,58.94,16,1222,NaN,NaN,...,4.0,204.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2000,37,165,37165,53.65,37.52,1833,98335,43.32,33.86,...,674.0,35572.0,51.21,41.14,14.0,717.0,59.20,41.40,10.0,592.0
10,2000,06,300,06300,95.00,496.00,1,95,95.00,496.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2000,17,105,17105,63.78,54.07,664,42350,61.00,23.50,...,240.0,13945.0,63.75,58.25,4.0,255.0,56.40,50.40,5.0,282.0
12,2000,28,083,28083,49.27,40.30,1117,55038,10.00,16.00,...,437.0,19211.0,46.75,48.75,4.0,187.0,48.17,45.83,6.0,289.0
13,2000,26,019,26019,91.91,67.26,771,70866,88.11,67.78,...,228.0,17915.0,81.17,41.67,6.0,487.0,81.33,53.33,3.0,244.0
14,2000,00,000,00000,313.50,240.50,4,1254,NaN,NaN,...,1.0,736.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2000,12,073,12073,83.16,61.36,11233,934162,67.44,46.54,...,3013.0,199306.0,83.59,60.96,129.0,10783.0,86.43,87.22,63.0,5445.0
16,2000,51,187,51187,83.69,62.57,1307,109380,63.67,30.22,...,466.0,34837.0,121.45,71.45,11.0,1336.0,67.08,636.85,13.0,872.0
17,2000,08,071,08071,78.76,53.86,552,43478,46.00,44.67,...,202.0,12763.0,100.20,47.00,5.0,501.0,84.50,65.25,4.0,338.0
18,2000,16,079,16079,53.82,43.78,566,30462,51.00,33.80,...,172.0,8871.0,52.36,42.00,11.0,576.0,22.00,38.00,1.0,22.0
19,2000,31,125,31125,57.67,38.71,24,1384,NaN,NaN,...,12.0,753.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
for col in initial_df.columns.ravel():
    print(col)

year
state
county
fips
loan_average_app
income_average_app
count_app
value_app
native_loan_average_app
native_income_average_app
native_count_app
native_value_app
black_loan_average_app
black_income_average_app
black_count_app
black_value_app
asian_loan_average_app
asian_income_average_app
asian_count_app
asian_value_app
white_loan_average_app
white_income_average_app
white_count_app
white_value_app
hawaiian_loan_average_app
hawaiian_income_average_app
hawaiian_count_app
hawaiian_value_app
not_applicable_loan_average_app
not_applicable_income_average_app
not_applicable_count_app
not_applicable_value_app
not_provided_loan_average_app
not_provided_income_average_app
not_provided_count_app
not_provided_value_app
no_co_app_loan_average_app
no_co_app_income_average_app
no_co_app_count_app
no_co_app_value_app

In [8]:
initial_df.head()

,year,state,county,loan_average_app,income_average_app,count_app,value_app,fips,hawaiian_loan_average_app,hawaiian_income_average_app,...,black_count_app,black_value_app,no_co_app_loan_average_app,no_co_app_income_average_app,no_co_app_count_app,no_co_app_value_app,asian_loan_average_app,asian_income_average_app,asian_count_app,asian_value_app
0,2000,19,007,46.87,42.40,326,15278,19007,41.00,19.60,...,1.0,46.0,65.00,47.00,2.0,130.0,56.80,101.20,5.0,284.0
1,2000,18,143,55.13,40.61,1844,101664,18143,72.00,42.00,...,116.0,5089.0,72.18,56.53,17.0,1227.0,293.00,130.00,1.0,293.0
2,2000,47,009,70.44,48.62,6342,446743,47009,33.80,28.80,...,1.0,40.0,43.00,47.00,3.0,129.0,65.00,71.00,1.0,65.0
3,2000,48,329,63.51,61.94,3286,208703,48329,37.49,33.48,...,2.0,104.0,28.00,27.50,2.0,56.0,155.46,83.31,827.0,128563.0
4,2000,13,013,81.20,54.66,2832,229948,13013,37.00,56.00,...,1.0,23.0,132.19,85.80,355.0,46927.0,97.50,56.57,44.0,4290.0