In [27]:
import pandas as pd
import psycopg2
import matplotlib
import numpy as np
#from connect import connect_DB #import custom connection script

#connector = connect_DB() #instantiate connector class
conn = psycopg2.connect("dbname=hmdamaster user=roellk") #connect and return connection
cur = conn.cursor()
#list of HMDA years to use
#property type appears in 2004
#FIXME reload and clean 2004
#FIXME: add property type into 2004 and beyond?
hmda_tables = ['hmdalar2000', 'hmdalar2001', 'hmdalar2002', 'hmdalar2003', 'hmdalar2004', 'hmdalar2005', 'hmdalar2006',
'hmdalar2007', 'hmdalar2008', 'hmdalar2009', 'hmdalar2010', 'hmdalar2011', 'hmdalar2012', 'hmdalar2013', 'hmdalar2014']


#get county level data
#count of loans
#average and median dollar value of loans
#dollar volume of loan amount

In [29]:
#selects application information for single family homes
first = True
for table in hmda_tables:

    SQL = """
        SELECT year, state, county,
        round(avg(amount::integer),2) as loan_average,
        round(avg(income::integer),2) as income_average,
        count(concat(agency, rid)) as count_of_apps,
        sum(amount::integer) as app_volume
        FROM {table}
        WHERE loan_type = '1'
        AND loan_purpose in ('1', '3')

        AND income not like '%NA%'
        AND income not like '%na% '
        AND amount not like '%NA%'
        AND amount not like '%na%'

        GROUP BY state, county, year """

    SQL = SQL.format(table=table, type='1')
    #cur.execute(SQL)

    #data = cur.fetchall() #retrieve data from query
    df = pd.read_sql_query(SQL, conn)
    if first:
        out_file = df
    else:
        out_file = out_file.concat(df)
    print df.head()


out_file.to_csv('county_aggregates.csv')

   year state county  loan_average  income_average  count_of_apps  app_volume
0  2000    13    005         42.91           33.63            334       14332
1  2000    25    025        172.26           92.79          23620     4068697
2  2000    55    065         61.86           45.41            422       26106
3  2000    38    023         28.00           43.50              6         168
4  2000    51    037         59.77           40.45            314       18767
   year state county  loan_average  income_average  count_of_apps  app_volume
0  2001    38    049         47.77           49.31            127        6067
1  2001    47    151         53.79           35.79            964       51858
2  2001    31    111         68.30           57.33           1321       90224
3  2001    21    227         92.14           65.20           5679      523286
4  2001    37    109        102.00           58.97           5446      555513
   year state county  loan_average  income_average  count_of_apps  app_volume
0  2002    33    013        127.74           74.51          11433     1460414
1  2002    19    033         76.87           63.62           2508      192788
2  2002    26    149         89.45           60.50           3872      346348
3  2002    17    079         63.97           44.51            187       11963
4  2002    42    017        159.68           97.20          60501     9660965
   year state county  loan_average  income_average  count_of_apps  app_volume
0  2003    05    061         71.40           56.02            482       34413
1  2003    54    035         79.21           56.57           1558      123410
2  2003    50    011        110.28           63.76           4727      521275
3  2003    06    023        143.04           73.58          12902     1845561
4  2003    18    129         90.42           62.95           2350      212479
   year state county  loan_average  income_average  count_of_apps  app_volume
0  2004    55    051         96.96           74.11            431       41788
1  2004    37    033         94.80           56.38           1302      123432
2  2004    48    395         75.33           64.75            634       47760
3  2004    20    101         57.06           52.91             32        1826
4  2004    01    059         72.11           49.08           1232       88845
   year state county  loan_average  income_average  count_of_apps  app_volume
0  2005    36    031        122.70           84.71           2590      317800
1  2005    21    071         72.96           48.30           1787      130383
2  2005    72    143        146.68           73.75           1317      193180
3  2005    12    089        176.77          105.49           7539     1332675
4  2005    31    123         64.65           50.91            140        9051
   year state county  loan_average  income_average  count_of_apps  app_volume
0  2006    27    055        114.04           65.61            975      111192
1  2006    01    071         92.22           62.98           2345      216260
2  2006    27    103        132.01           80.28           1619      213731
3  2006    22    041         77.86           60.77            661       51465
4  2006    04    013        207.22          106.57         591870   122645154
   year state county  loan_average  income_average  count_of_apps  app_volume
0  2007    37    147        123.04           82.58           8927     1098355
1  2007    55    031        112.36           70.95           2563      287987
2  2007    51    515        110.76           57.28            384       42533
3  2007    20    153         69.43           63.20             30        2083
4  2007    42    095        165.82           87.72          21264     3525949
   year state county  loan_average  income_average  count_of_apps  app_volume
0  2008    40    013        101.31           73.27           4384      444124
1  2008    22    001         97.32           70.81           5468      532156
2  2008    26    011        104.30           75.53           1868      194824
3  2008    29    089         91.84           64.05           1312      120496
4  2008    54    065        148.69           80.28           3620      538240
   year state county  loan_average  income_average  count_of_apps  app_volume
0  2009    01    001        143.77           75.16           1643      236215
1  2009    01    003        205.65          130.28          10132     2083666
2  2009    01    005        135.50           75.95            495       67073
3  2009    01    007         98.51           69.38            597       58808
4  2009    01    009        117.86           66.82           1857      218874
   year state county  loan_average  income_average  count_of_apps  app_volume
0  2010    28    079         95.20           79.09            470       44746
1  2010    48    499        119.73           91.39            775       92787
2  2010    48    157        204.34          132.25          26713     5458526
3  2010    55    001        133.09           98.64           1050      139747
4  2010    12    129        144.92           83.61            641       92892
   year state county  loan_average  income_average  count_of_apps  app_volume
0  2011    08    095        134.38          111.82             78       10482
1  2011    53    039        188.00           94.87            624      117313
2  2011    38    069         79.93           62.44             54        4316
3  2011    40    023         86.27           68.42            153       13200
4  2011    13    087        107.99           67.14            428       46218
   year state county  loan_average  income_average  count_of_apps  app_volume
0  2012    40    107          2.99           60.78            299         893
1  2012    51    141          2.94           70.86            372        1094
2  2012    53    043          2.93           94.63            361        1058
3  2012    56    021          2.95           96.26           4347       12834
4  2012    13    179          2.97           88.43            767        2279
   year state county  loan_average  income_average  count_of_apps  app_volume
0  2013    48    379        116.59           86.00            201       23434
1  2013    40    029        112.45           64.60             58        6522
2  2013    01    099         97.42           67.42            357       34778
3  2013    20    151        109.06          104.67            129       14069
4  2013    37    081        163.41           98.60          17299     2826898
   year state county  loan_average  income_average  count_of_apps  app_volume
0  2014    01    059         73.94           56.77            453       33494
1  2014    20    143         86.30           61.61             98        8457
2  2014    48    105         88.22           89.51             45        3970
3  2014    29    037        157.17           91.65           2185      343410
4  2014    38    031        125.98           84.33             55        6929

In [31]:
county_agg_df = out_file.copy()

In [36]:
#selects originated loan information for single family homes
first = True
for table in hmda_tables[4:]:
    SQL = """
WITH rates as (
    SELECT year, state, county,
        count(rate_spread) as has_rs,
        avg(rate_spread::numeric) as avg_rate_spread
    FROM {table}
    WHERE loan_type = '1'
            AND loan_purpose in ('1', '3')
            AND property_type = '{type}'
            AND action = '1'
            AND lien = '1'
            AND rate_spread != 'NA   '
    GROUP BY year, state, county),

rates2 as (
    SELECT year, state, county,
        count(rate_spread) as no_rs

    FROM {table}

    WHERE loan_type = '1'
            AND loan_purpose in ('1', '3')
            AND property_type = '{type}'
            AND action = '1'
            AND lien = '1'
            AND rate_spread = 'NA   '
    GROUP BY year, state, county),

county_agg as (
    SELECT year, state, county,
        round(avg(amount::integer),2) as loan_average,
        round(avg(income::integer),2) as income_average,
        count(concat(agency, rid)) as count_of_apps,
        sum(amount::integer) as app_volume
        
        FROM {table}
        
        WHERE loan_type = '1'
        AND loan_purpose in ('1', '3')
        AND property_type = '1'
        AND action = '1'
        AND lien = '1'
        AND income not like '%NA%'
        AND income not like '%na%'
        AND income != '    '
        AND amount not like '%NA%'
        AND amount not like '%na%'
        AND amount != '     '
        GROUP BY state, county, year )

SELECT
rates.year, 
rates.state, 
rates.county, 
rates.has_rs, 
rates2.no_rs, 
round(rates.avg_rate_spread, 2) as avg_rs, 
round(((rates.has_rs::numeric / (rates2.no_rs::numeric + rates.has_rs::numeric))*100),2) as rs_ratio,
county_agg.loan_average, 
county_agg.income_average, 
county_agg.count_of_apps, 
county_agg.app_volume

FROM rates
JOIN rates2
ON CONCAT(rates.state, rates.county) = CONCAT(rates2.state, rates2.county)
JOIN county_agg
ON CONCAT(rates.state, rates.county) = CONCAT(county_agg.state, county_agg.county)
;
"""

    SQL = SQL.format(table=table, type='1')
    df = pd.read_sql_query(SQL, conn)
    if first:
        out_file = df
    else:
        out_file = out_file.concat(df)
    print df.head()
out_file.to_csv('county_aggregates_post_2004.csv')
#export as single csv for all years
#create table to hold data
#insert data

   year state county  has_rs  no_rs  avg_rs  rs_ratio  loan_average  \
0  2004    01    001     192   1152    4.53     14.29        117.96
1  2004    01    003     745   7069    4.27      9.53        182.95
2  2004    01    005     119    222    4.66     34.90         97.44
3  2004    01    007     101    234    4.49     30.15         89.37
4  2004    01    009     311   1030    4.42     23.19        110.99

   income_average  count_of_apps  app_volume
0           65.80           1292      152407
1          115.96           7400     1353852
2           67.50            314       30596
3           58.58            319       28510
4           60.90           1298      144062
   year state county  has_rs  no_rs  avg_rs  rs_ratio  loan_average  \
0  2005    01    001     297   1111    4.67     21.09        127.34
1  2005    01    003    1319   6730    4.79     16.39        211.82
2  2005    01    005     137    199    4.83     40.77        113.18
3  2005    01    007     114    214    4.88     34.76         97.55
4  2005    01    009     420    954    4.79     30.57        114.22

   income_average  count_of_apps  app_volume
0           71.02           1368      174198
1          131.36           7562     1601775
2           91.97            310       35086
3           60.02            316       30826
4           60.39           1331      152032
   year state county  has_rs  no_rs  avg_rs  rs_ratio  loan_average  \
0  2006    01    001     257    980    4.87     20.78        141.14
1  2006    01    003    1576   6372    4.80     19.83        233.29
2  2006    01    005     144    179    4.83     44.58        111.91
3  2006    01    007     118    190    5.38     38.31        103.70
4  2006    01    009     458    912    4.95     33.43        133.91

   income_average  count_of_apps  app_volume
0           74.73           1199      169227
1          158.15           7454     1738917
2           71.95            307       34357
3           61.84            304       31524
4           68.07           1340      179444
   year state county  has_rs  no_rs  avg_rs  rs_ratio  loan_average  \
0  2007    01    001     206    975    4.61     17.44        144.97
1  2007    01    003     952   5807    4.50     14.08        239.28
2  2007    01    005      97    193    4.80     33.45        118.65
3  2007    01    007      80    198    5.26     28.78        120.95
4  2007    01    009     304    919    4.71     24.86        124.38

   income_average  count_of_apps  app_volume
0           76.84           1151      166860
1          167.19           6434     1539527
2           77.56            272       32274
3           67.21            277       33504
4           65.33           1202      149501
   year state county  has_rs  no_rs  avg_rs  rs_ratio  loan_average  \
0  2008    34    019     280  10796    3.82      2.53        299.58
1  2008    48    241     252    576    4.07     30.43        125.98
2  2008    26    127     272   1328    4.21     17.00        147.18
3  2008    30    045       8     40    5.76     16.67        122.18
4  2008    48    073     444   1068    4.50     29.37        109.63

   income_average  count_of_apps  app_volume
0          146.13          10648     3189900
1          120.10            820      103304
2          101.88           1536      226076
3           64.27             44        5376
4           91.36           1464      160496
   year state county  has_rs  no_rs  avg_rs  rs_ratio  loan_average  \
0  2009    01    001      35    706    4.51      4.72        152.68
1  2009    01    003     144   4592    4.38      3.04        209.60
2  2009    01    005      31    171    5.14     15.35        149.08
3  2009    01    007      56    141    5.15     28.43        110.20
4  2009    01    009     108    604    4.55     15.17        131.37

   income_average  count_of_apps  app_volume
0           78.64            702      107181
1          138.15           4546      952828
2           89.63            193       28772
3           94.29            191       21049
4           75.13            684       89857

DatabaseError: Execution failed on sql '
WITH rates as (
    SELECT year, state, county,
        count(rate_spread) as has_rs,
        avg(rate_spread::numeric) as avg_rate_spread
    FROM hmdalar2010
    WHERE loan_type = '1'
            AND loan_purpose in ('1', '3')
            AND property_type = '1'
            AND action = '1'
            AND lien = '1'
            AND rate_spread != 'NA   '
    GROUP BY year, state, county),

rates2 as (
    SELECT year, state, county,
        count(rate_spread) as no_rs

    FROM hmdalar2010

    WHERE loan_type = '1'
            AND loan_purpose in ('1', '3')
            AND property_type = '1'
            AND action = '1'
            AND lien = '1'
            AND rate_spread = 'NA   '
    GROUP BY year, state, county),

county_agg as (
    SELECT year, state, county,
        round(avg(amount::integer),2) as loan_average,
        round(avg(income::integer),2) as income_average,
        count(concat(agency, rid)) as count_of_apps,
        sum(amount::integer) as app_volume

        FROM hmdalar2010

        WHERE loan_type = '1'
        AND loan_purpose in ('1', '3')
        AND property_type = '1'
        AND action = '1'
        AND lien = '1'
        AND income not like '%NA%'
        AND income not like '%na% '
        AND amount not like '%NA%'
        AND amount not like '%na%'
        GROUP BY state, county, year )

select rates.year, rates.state, rates.county, rates.has_rs, rates2.no_rs,
round(rates.avg_rate_spread, 2) as avg_rs, round(((rates.has_rs::numeric / (rates2.no_rs::numeric + rates.has_rs::numeric))*100),2) as rs_ratio,
county_agg.loan_average, county_agg.income_average, county_agg.count_of_apps, county_agg.app_volume
from rates
join rates2
on concat(rates.state, rates.county) = concat(rates2.state, rates2.county)
join county_agg
on concat(rates.state, rates.county) = concat(county_agg.state, county_agg.county)
;
': invalid input syntax for type numeric: "     "

In [37]:
out_file.tail()

,year,state,county,has_rs,no_rs,avg_rs,rs_ratio,loan_average,income_average,count_of_apps,app_volume
3136,2009,72,147,7,22,4.26,24.14,246.34,137.90,29,7144
3137,2009,72,149,9,21,4.81,30.00,103.24,63.59,29,2994
3138,2009,72,151,16,62,3.41,20.51,86.74,43.37,76,6592
3139,2009,72,153,23,69,4.31,25.00,95.50,48.51,86,8213
3140,2009,NA,NA,2760,41965,4.40,6.17,189.81,95.77,43867,8326324