In [2]:
from bokeh.plotting import figure, output_file, show
import json
import numpy as np
import os
import pandas as pd

In [3]:
#load tract to CBSA file to get valid counties
cbsa_df = pd.read_csv('tract_to_CBSA_2010.csv', sep='|')
cbsa_df.county = cbsa_df.county.map(lambda x: str(x).zfill(5)) #left pad with 0's to make valid FIPS codes
fips_list = set(cbsa_df.county.ravel()) #remove duplicates

test_df = pd.read_csv('data/holding/applications/hmdalar2003_applications.csv')

In [19]:
for fips in list(fips_list):
    state = fips[:2]
    path = "data/"+state+"/"+fips+"/"
    county_df = pd.read_csv(path+"data.csv")
    if county_df.empty:
        print("empty county df {county}".format(county=fips))

In [4]:
test_df.head()

,year,state,county,fips,loan_average_app,income_average_app,count_app,value_app,native_loan_average_app,native_income_average_app,...,not_applicable_value_app,not_provided_loan_average_app,not_provided_income_average_app,not_provided_count_app,not_provided_value_app,no_co_app_loan_average_app,no_co_app_income_average_app,no_co_app_count_app,no_co_app_value_app,test_col
0,2003,45.0,007,45007,99.67,59.80,7025,700201,74.08,41.0,...,153051.0,94.19,60.13,175.0,16484.0,116.72,74.52,71.0,8287.0,420073.0
1,2003,12.0,500,12500,89.00,32.00,1,89,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0
2,2003,45.0,017,45017,74.66,47.77,397,29640,NaN,NaN,...,7345.0,71.33,46.83,12.0,856.0,99.25,52.00,4.0,397.0,18964.0
3,2003,48.0,243,48243,100.98,67.65,65,6564,NaN,NaN,...,1602.0,NaN,NaN,NaN,NaN,102.00,73.00,1.0,102.0,4397.0
4,2003,26.0,067,26067,99.39,54.36,2977,295878,95.29,51.5,...,66009.0,108.49,72.22,55.0,5967.0,106.50,69.60,10.0,1065.0,161844.0

In [6]:
test_df.to_csv('test.csv', float_format='%.f')

In [ ]:
test2_df = pd.read_csv('test.csv')